
<div class="container">

  <ul class="nav nav-pills" id="overheadList">
    <li><%= link_to "Main Course", home_path %></li>
    <li><%= link_to "Buffet", buffet_path %></li>
    <li><%= link_to "Personal Chefs", "#" %></li>
    <!--<li><%= link_to "Bar", "#" %></li>-->
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">


      <%= link_to @poster, class: "linkToProfile" do %>
        <div class="media postMediaObject">
          <div class="media-left">
            <div class="profilePicture">
                <%= image_tag @poster.picture.url, class: "img-circle" %>
            </div>
          </div>

          <div class="media-body">
            <h3 class="media-heading postOwner">
              <!-- Just a heads up. This (@current_post.user_id) will fail when there are no users in the database -->
              <%= (User.find_by(id: @current_post.user_id)).name %>
            </h3>
            <small class="postTime">Posted at <%= time_ago_in_words(@current_post.created_at) %> ago</small>
          </div>
        </div>
      <% end %>


      <% if logged_in? %>
        <!-- If the current user has already liked this post, then show a different button state-->

          <!--Like button-->
          <%= link_to({:controller => "static_pages", :action => "handle_like"},
            remote: true, class: "btn btn-primary btn-lg", method: "post") do %>

            <% if @current_post.liked_by(current_user) %>
              <p class="likeButton">Liked</p>
            <% else %>
              <p class="likeButton">Like</p>
            <% end %>

          <% end %>

          <h5 class="postLikes">Likes: <%= @current_post.likes %></h5>


          <!--Dislike button-->
          <%= link_to({:controller => "static_pages", :action => "handle_dislike"},
            remote: true, class: "btn btn-primary btn-lg", method: "post") do %>

            <% if @current_post.disliked_by(current_user) %>
              <p class="dislikeButton">Disliked</p>
            <% else %>
              <p class="dislikeButton">Dislike</p>
            <% end %>

          <% end %>

          <h5 class="postDislikes">Dislikes: <%= @current_post.dislikes %></h5>

      <% end %>


    </div>

    <div class="col-md-8">
      <div id="buffetPostImage">
        <%= image_tag @all_posts.find_by(id: session[:currentIndex]).picture.url %>
      </div>

        <div class="postDescription">
          <h2><%= @current_post.description %></h2>
        </div>
    </div>

    <div class="col-md-2">

      <%= button_to ">", {:controller => "static_pages", :action => "handle_next"},
                remote: true, class: "btn btn-primary btn-lg", id: "buffetNextButton" %>

      <%= button_to "<", {:controller => "static_pages", :action => "handle_prev"},
                remote: true, class: "btn btn-primary btn-lg", id: "buffetPrevButton" %>


      <% if logged_in? %>
      <div class="commentBlock">
        <h2 style="text-decoration: underline;">Comments</h2>

          <%= form_for(@comment, remote: true) do |f| %>

            <%= f.text_field :comment, placeholder: "Write a comment" %>

            <%= f.submit "Post Comment" %>

          <% end %>

          <ul class="list-unstyled">
            <div class="postComments">

                <%= render(:partial => 'comments') %>

            </div>
          </ul>

      </div>
      <% end %>



    </div>
  </div>
</div>
