<!-- The buffet page serves up every post that has been posted, starting with the most recent -->
<% provide(:title, "Buffet") %>
<% provide(:subtitle, "All you can eat memes") %>
<%= render(:partial => 'layouts/sidebar') %>

<% if session[:comment_blank_error] == true %>

  <script>BootstrapDialog.show({
            title: 'Oops!',
            message: 'Your comment cannot be blank!'
        });</script>

        <% session[:comment_blank_error] = false %>

<% end %>

<div class="container-fluid">
  <div class="row">

    <!-- offset by 1 to account for the sidebar -->
    <div class="col-md-offset-1 col-md-8"> <!--Main middle column holds post image scroller, post heading, and post caption -->

      <div class="postHeading">
        <%= link_to(@poster, class: "linkToPosterProfile") do %>
          <!--Post media object is just the timestamp, poster, and picture as a group. -->
          <div class="posterMediaObject">
            <div class="posterPicture">
              <%= image_tag @poster.picture.url, class: "img-circle" %>
            </div>

            <!--<h3 style="display: inline-block;">
              <!-- Just a heads up. This (@current_post.user_id) will fail when there are no users in the database -->
              <!--<p class="postOwner"><%= @poster.name %></p><br>
              <small class="postTime" style="float: left;">Posted <%= time_ago_in_words(@current_post.created_at) %> ago</small>
            </h3>-->
            <h3 style="display: inline-block; position: absolute; top: -12px; left: 140px;">
                <span class="postOwner"><%= @poster.name %></span><br>
                <small class="postTitle">Dish Name: <%= @current_post.title %></small><br>
                <p class="postTime">Posted <%= time_ago_in_words(@current_post.created_at) %> ago</p>

            </h3>
            <!--<h5 style="display: inline-block;">Dish Name: </h5>-->

          </div>
        <% end %>

          <!--Dislike button-->
          <%= link_to({:controller => "static_pages", :action => "handle_dislike"},
            remote: true, class: "btn btn-default btn-lg postDislikeButton", method: "post") do %>

            <!-- If the current user has already liked this post, then show a different button state-->
            <% if @current_post.disliked_by(current_user) %>
              <p class="dislikeButtonText">Disliked</p><p class="postDislikes"><%= @current_post.dislikes %></p>
            <% else %>
              <p class="dislikeButtonText">Dislike</p><p class="postDislikes"><%= @current_post.dislikes %></p>
            <% end %>

          <% end %>


            <!--Like button-->
            <%= link_to({:controller => "static_pages", :action => "handle_like"},
              remote: true, class: "btn btn-default btn-lg postLikeButton", method: "post") do %>

              <% if @current_post.liked_by(current_user) %>
                <p class="likeButtonText">Liked</p><p class="postLikes"><%= @current_post.likes %></p>
              <% else %>
                <p class="likeButtonText">Like</p><p class="postLikes"><%= @current_post.likes %></p>
              <% end %>

            <% end %>


      </div> <!--postHeading-->



      <div class="mainPostImage">
        <%= image_tag((@all_posts[session[:currentIndex]]).picture.url) %>
      </div>

      <%= link_to({:controller => "static_pages", :action => "handle_next"},
          remote: true, class: "btn btn-default btn-lg buffetNextButton", method: "post") do %>
            <b class="glyphicon glyphicon-chevron-right"></b>
      <% end %>

      <%= link_to({:controller => "static_pages", :action => "handle_prev"},
          remote: true, class: "btn btn-default btn-lg buffetPrevButton", method: "post") do %>
            <b class="glyphicon glyphicon-chevron-left"></b>
      <% end %>



          <div class="postCaption">
              <h2><%= @current_post.description %></h2>
          </div>
          <div class="postMainCourseButton"><%= render 'shared/main_course_button' %></div>


    </div> <!-- end of main middle column-->


    <!--comment section -->
    <div class="col-md-2">

        <div class="commentHeader">
          <h2 style="font-weight: bold;">Comments</h2>

            <% if logged_in? %>
              <%= form_for(@comment, remote: true) do |f| %>

                <%= f.text_area :comment, placeholder: "Write a comment", class: "commentTextArea", maxlength: 255 %>

                <%= f.submit "Post Comment", style: "float: right;" %>

              <% end %>
            <% end %>
        </div>

        <div class="commentBlock">
            <ul class="list-unstyled">
              <div class="postComments">
                  <%= render(:partial => 'comments/comments') %>
              </div>
            </ul>

        </div>



    </div><!-- comment section -->

  </div><!-- row -->
</div><!-- container -->
