<!-- The buffet page serves up every post that has been posted, starting with the most recent -->
<%= render(:partial => 'layouts/sidebar') %>

<div class="container-fluid">
  <div class="row">

    <!-- offset by 1 to account for the sidebar -->
    <div class="col-md-offset-1 col-md-8">
      <div class="postHeading">

        <%= link_to(@poster, class: "linkToProfile") do %>
          <div class="postMediaObject">
            <div class="profilePicture">
              <%= image_tag @poster.picture.url, class: "img-circle" %>
            </div>


            <h3 style="display: inline-block;">
              <!-- Just a heads up. This (@current_post.user_id) will fail when there are no users in the database -->
              <p class="postOwner"><%= (User.find_by(id: @current_post.user_id)).name %></p><br>
              <small class="postTime" style="float: left;">Posted <%= time_ago_in_words(@current_post.created_at) %> ago</small>
            </h3>

          </div>
        <% end %>

        <% if logged_in? %>
          <!-- If the current user has already liked this post, then show a different button state-->

          <!--Dislike button-->
          <%= link_to({:controller => "static_pages", :action => "handle_dislike"},
            remote: true, class: "btn btn-default btn-lg", method: "post", style:"display: inline-block; float: right; font-weight: bold; margin-top: -10px; margin-right: 5px;") do %>

            <% if @current_post.disliked_by(current_user) %>
              <p class="dislikeButton">Disliked</p><p class="postDislikes"><%= @current_post.dislikes %></p>
            <% else %>
              <p class="dislikeButton">Dislike</p><p class="postDislikes"><%= @current_post.dislikes %></p>
            <% end %>

          <% end %>


            <!--Like button-->


            <%= link_to({:controller => "static_pages", :action => "handle_like"},
              remote: true, class: "btn btn-default btn-lg", method: "post", style:"display: inline-block; float: right; font-weight: bold; margin-top: -10px; margin-right: 5px;") do %>

              <% if @current_post.liked_by(current_user) %>
                <p class="likeButton">Liked</p><p class="postLikes"><%= @current_post.likes %></p>
              <% else %>
                <p class="likeButton">Like</p><p class="postLikes"><%= @current_post.likes %></p>
              <% end %>

            <% end %>

        <% end %> <!--If logged_in? %> -->

      </div>

      <div class="buffetPostImage">
        <%= image_tag @all_posts.find_by(id: session[:currentIndex]).picture.url %>
      </div>

      <%= link_to({:controller => "static_pages", :action => "handle_next"},
          remote: true, class: "btn btn-default btn-lg buffetNextButton", method: "post") do %>
            <b class="glyphicon glyphicon-chevron-right"></b>
      <% end %>

      <%= link_to({:controller => "static_pages", :action => "handle_prev"},
          remote: true, class: "btn btn-default btn-lg buffetPrevButton", method: "post") do %>
            <b class="glyphicon glyphicon-chevron-left"></b>
      <% end %>



        <div class="postDescription">
          <h2><%= @current_post.description %></h2>
        </div>

    </div>

    <div class="col-md-2">


      <% if logged_in? %>
        <div class="commentBlock">
          <h2 style="font-weight: bold;">Comments</h2>

            <%= form_for(@comment, remote: true) do |f| %>

              <%= f.text_field :comment, placeholder: "Write a comment" %>

              <%= f.submit "Post Comment" %>

            <% end %>

            <ul class="list-unstyled">
              <div class="postComments">

                  <%= render(:partial => 'comments') %>

              </div>
            </ul>

        </div>
      <% end %>



    </div>
  </div>
</div>
