$(function() {
  $('.postTitle').html("Dish Name: <%= @current_post.title %>");
  $('.postCaption').html("<h2><%= @current_post.description %></h2>");
  $('.mainPostImage').html("<%= escape_javascript image_tag(@current_post.picture.url, alt: "current image") if (@current_post).picture? %>");
  $('.posterPicture').html("<%= escape_javascript image_tag(@poster.picture.url, alt: "profile image", class: "img-circle") %>");

  $('.postOwner').html("<%= @poster.name %>");
  $('.linkToPosterProfile').attr("href", "<%= user_path(@poster) %>");
  $('.postTime').html("Posted <%= time_ago_in_words(@current_post.created_at) %> ago");


  //like button stuff
  $('.postLikes').html("<%= @current_post.likes %>");

  <% if @current_post.liked_by(current_user) %>
    $('.likeButtonText').html("Liked");

  <% else %>
    $('.likeButtonText').html("Like");

  <% end %>

  //dislike button stuff
  $('.postDislikes').html("<%= @current_post.dislikes %>");

  <% if @current_post.disliked_by(current_user) %>
    $('.dislikeButtonText').html("Disliked");

  <% else %>
    $('.dislikeButtonText').html("Dislike");

  <% end %>

  $('.postComments').html("<%= escape_javascript(render(:partial => 'comments/comments')) %>");
  //$('.commentTextArea').val('');

  $('.postMainCourseButton').html("<%= escape_javascript(render 'shared/main_course_button') %>");
});
