$(function() {
  //$('.postTitle').html("<p>Title: <%= @current_post.title %></p>");
  $('.postOwner').html("<p><%= @poster.name %></p>");
  $('.postDescription').html("<h2><%= @current_post.description %></h2>");
  $('#buffetPostImage').html("<%= escape_javascript image_tag(@current_post.picture.url, alt: "current image") if (@current_post).picture? %>");
  $('.profilePicture').html("<%= escape_javascript image_tag(@poster.picture.url, alt: "profile image", class: "img-circle") %>");


  $('.linkToProfile').attr("href", "<%= user_path(@poster) %>");
  $('.postTime').html("<p>Posted <%= time_ago_in_words(@current_post.created_at) %> ago</p>");


  //like button stuff
  $('.postLikes').html("Likes: <%= @current_post.likes %> ");

  <% if @current_post.liked_by(current_user) %>
    $('.likeButton').html("Liked");

  <% else %>
    $('.likeButton').html("Like");

  <% end %>

  //dislike button stuff
  $('.postDislikes').html("Dislikes: <%= @current_post.dislikes %> ");

  <% if @current_post.disliked_by(current_user) %>
    $('.dislikeButton').html("Disliked");

  <% else %>
    $('.dislikeButton').html("Dislike");

  <% end %>




});
