<%= render(:partial => 'layouts/sidebar') %>

<div class="container">
  <ul class="nav nav-pills" id="overheadList">
    <li><%= link_to "Main Course", home_path %></li>
    <li><%= link_to "Buffet", buffet_path %></li>
    <li><%= link_to "Personal Chefs", "#" %></li>
    <li><%= link_to "Bar", "#" %></li>
  </ul>
</div>

<div class="container">
  <div id="mainCarousel" class="carousel slide">
          <!--Carousel items-->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("bork.png", alt: "first image") %>
            </div>

            <div class="item center">
              <%= image_tag("jurassic.jpg", alt: "second image")%>
            </div>

            <div class="item">
              <%= image_tag("astrobork.jpg", alt: "third image")%>
            </div>
          </div>

          <a class="carousel-control left" href="#mainCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>

          <a class="carousel-control right" href="#mainCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
  </div>
</div>
