<h1>Home Page</h1>

<%= link_to "Main Course", home_path %><br>
<%= link_to "Buffet", buffet_path %><br>


<% if logged_in? %>

  <%= link_to "Kitchen", kitchen_path %><br>
  <%= link_to "Logout", logout_path, method: :delete %>
  <p><%=current_user.name %> is logged in</p><br><br>


<% else %>

<%= link_to "Sign up", new_user_path %><br>
<%= link_to "Log in", login_path %>


<% end %>
