<!-- Gives a list of users that are currently subscribed to this user -->
<% provide(:title, "Subscribers") %>
<% provide(:subtitle, "for "+@user.name) %>


<div class="container">

    <div class="row">
      <div class="col-md-offset-2 col-sm-offset-2">
        <h1 style="text-align: center; font-weight: bold;">Subscribers
          <% if logged_in? %>
            <% if current_user.id == @user.id %>
              <br><small>
                Other peeps who like your memes
              </small>
            <% else %>
              <br><small>
                Other peeps who like <%= @user.name %>'s memes
              </small>
            <% end %>

          <% else %>
          <br><small>
            Other peeps who like <%= @user.name %>'s memes
          </small>
          <% end %>

        </h1>
        <hr>
      </div>
    </div>

    <% if @subscribers.count == 0 %>
      <div class="row col-md-offset-1 col-sm-offset-1">
        <h3>No one is currently subscribed.</h3>
      </div>
    <% else %>
      <div class="row col-md col-md-offset-2 col-sm-offset-2">
      <% @subscribers.each do |sub| %>

        <%= link_to(user_path(sub)) do %>
          <div class="col-md-3 col-sm-4">
            <%= image_tag(sub.picture.url, class:"personalChefsSubPicture thumbnail") %>
            <h4 class="personalChefsSubName"><%= sub.name %></h4>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
