
<%= render :partial => 'layouts/sidebar' %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-5">
      <div class="loginBlock">
        <h1>Login</h1>

        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %><br>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %><br>

          <%= f.submit "Log in", class:"btn btn-lg btn-default", style:"float: right; margin-top: -10px;" %>

          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>

        <% end %>
      </div>
      <p style="float: right;">Dont have an account? <%= link_to "Signup", signup_path %>. <br>We wanna see your sickest memes.</p>
    </div>
  </div>
</div>
