<li>
  <div class="media commentMedia">
    <div class="media-left">
      <%= link_to(comment.user) do %>
        <%= image_tag @comment.user.picture.url, class: "img-rounded commentPicture" %>
      <% end %>
    </div>

    <div class="media-body">
      <h5 class="media-heading">
        <%= @comment.user.name %>

        <% if logged_in? %>

          <%= link_to({:controller => 'comments', :action => 'handle_like', :comment_id => @comment.id},
            class: "btn btn-default btn-xs commentLikeButton", remote: true, method: "post") do %>
              <b class="glyphicon glyphicon-thumbs-up"></b>
              <small class="commentLikes" style="color: black;"><%= @comment.likes %></small>
          <% end %>

          <%= link_to({:controller => 'comments', :action => 'handle_dislike', :comment_id => @comment.id},
              class: "btn btn-default btn-xs commentDislikeButton", remote: true, method: "post") do %>
                <b class="glyphicon glyphicon-thumbs-down"></b>
                <small class="commentLikes" style="color: black;"><%= @comment.dislikes %></small>
          <% end %>
        <% end %>
      </h5>
      <p>
        <%= @comment.comment %>
      </p>

      <div class="media-bottom">
        <% if logged_in? %>
          <% if @comment.user.id == current_user.id %>

              <%= link_to "delete", { :controller => "comments", :action => "destroy", :id => @comment.id }, style:"float: right; margin-left: 5px;",
                    method: "delete", data: {confirm: "You really wanna delete your sweet comment?"}, remote: true %>

          <% end %>
        <% end %>

        <small class="commentTimestamp">Posted <%= time_ago_in_words(@comment.created_at) %> ago</small>
      </div>

    </div>
  </div>

</li>
