<li>
  <div class="media commentMedia">
    <div class="media-left">

      <%= image_tag @comment.user.picture.url, class: "img-rounded commentPicture" %>

        <%= link_to "", {:controller => 'comments', :action => 'handle_like', :comment_id => @comment.id},
                  class: "btn btn-default btn-xs glyphicon glyphicon-thumbs-up commentLikeButton", remote: true, method: "post" %>
        <%= link_to "", {:controller => 'comments', :action => 'handle_dislike', :comment_id => @comment.id},
                  class: "btn btn-default btn-xs glyphicon glyphicon-thumbs-down commentDislikeButton", remote: true, method: "post" %>

    </div>

    <div class="media-body">
      <h5 class="media-heading">
        <%= @comment.user.name %>
      </h5>
      <p>
        <%= @comment.comment %>
      </p>

      <small class="commentLikes">Likes: <%= @comment.likes %></small>
      <small class="commentLikes">Dislikes: <%= @comment.dislikes %></small>

    </div>
  </div>

</li>
