<!-- Basic edit page for user information -->
<% provide(:title, "Edit Profile") %>
<% provide(:subtitle, "Need a name change?") %>

<!-- Script code for preview generation. Credit: https://www.spencerdixon.com/blog/image-preview-with-carrierwave-and-rails.html -->
<!-- javascript image preview -->
<script>
$(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#editProfilePicture').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#newProfilePicture").change(function(){
    $('#editProfilePicture').removeClass('hidden');
    readURL(this);
  });
});
</script>

<div class="container">
  <div class="row">

    <div class="col-md-offset-2">
      <div class="editProfilePictureBlock">
        <%= image_tag(@user.picture.url, id: "editProfilePicture", class: "img-thumbnail") %>

        <%= form_for @user do |f| %>

          <%= f.file_field :picture, id:"newProfilePicture" %>
          <%= f.submit "Submit New Profile Picture",
                class:"btn btn-md btn-default", style: "margin-top: 5px;", name: 'change_picture', id:"newProfilePictureButton" %>

          <!--Script to prevent user from submitting a picture if they havnt uploaded yet -->
          <script type="text/javascript">
                $(document).ready(
                  function(){
                    $('#newProfilePictureButton').attr('disabled',true);
                    $('input:file').change(
                      function(){
                        if ($(this).val()){
                          $('#newProfilePictureButton').removeAttr('disabled');
                        }
                        else {
                          $('#newProfilePictureButton').attr('disabled',true);
                        }
                      });
                  });
          </script>

        <% end %>
      </div>
    </div>

    <div class="col-md-offset-4 col-md-7">
      <div class="editProfileBlock">

        <h1>Edit Profile</h1>
        <%= form_for @user do |f| %>

          <%= render 'shared/error_messages', object:f.object %>

          <%= f.label :name, "New Username" %>
          <%= f.text_field :name, class: "form-control" %>

          <%= submit_tag "Submit New Username", class:"btn btn-md btn-default",
                  style: "float: right; margin-top: 5px;", name: 'change_username' %><br><br>


          <%= f.label :email, "New Email" %>
          <%= f.email_field :email, class: "form-control" %>

          <%= submit_tag "Submit New Email", class:"btn btn-md btn-default",
                  style: "float: right; margin-top: 5px;", name: 'change_email' %><br><br>

        <% end %>

        <%= link_to "Change Password", edit_password_user_path(@user), style: "display: block; float: right;" %><br>
        <%= link_to "< Back to Profile", @user, style: "display: block; float: right;" %>

        <!--<%= link_to "Change Email", "#", class: "btn btn-default btn-lg"%><br>
        <%= link_to "Change Profile Picture", "#", class: "btn btn-default btn-lg"%><br>
        <%= link_to "Change Password", "#", class: "btn btn-default btn-lg" %>-->
      </div>
    </div>
  </div>
</div>
