<% provide(:title, "Profile") %>
<% provide(:subtitle, "Meme Chef") %>
<%= render 'layouts/sidebar' %>

<% if session[:show_signup_message] == true %>

  <script>BootstrapDialog.show({
            title: 'WELCOME ABOARD! :D',
            message: 'Take a seat and enjoy the delicious memes we have to offer or get in the kitchen and cook up some of your own!'
        });</script>

        <% session[:show_signup_message] = false %>

<% end %>

<% if session[:show_new_post_dialog] == true %>

  <script>BootstrapDialog.show({
            title: "Post successful",
            message: "Now that's a dope dish you dank memer"
        });</script>

        <% session[:show_new_post_dialog] = false %>

<% end %>

<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-11">
      <div class="userProfileTitle">

        <div class="media userProfileTitleMedia">
          <div class="media-left">
            <%= image_tag @user.picture.url, class: "userProfilePicture"%>
          </div>

          <div class="media-body">
            <h1 class="media-heading"><%= @user.name %></h1>
                <%= link_to({ :controller => 'static_pages', :action => 'subscribers', :user_id => @user.id},
                            class:"userProfileSubscribersLink") do %>Subscribers: <span class="profileSubCount">
                                                                          <%= @user.followers.count %></span><% end %>
          </div>

        </div>

        <!-- Dont let other users edit another user's profile or make memes for them -->
        <% if logged_in? %>
          <% if current_user.id == @user.id %>
            <%= link_to  kitchen_path, class: "btn btn-default makeMemesProfileButton" do %>
              <p><b class="glyphicon glyphicon-fire"></b> Cook up a new Meme!</p>
              <% end %>
              <%= link_to  edit_user_path(@user), class: "btn btn-default settingsProfileButton" do %>
              <p><b class="glyphicon glyphicon-cog"></b> Edit Profile</p>
              <% end %>

          <% else %>
            <div class="subButton">
              <%= render 'users/sub_button' %>
            </div>
          <% end %>

        <% else %>
          <!-- Add a button here for subscribe and redirect it -->
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="userProfilePosts">
      <%= render(:partial => 'user_profile_posts') %>
    </div>

  </div>
</div>
