<h1>Welcome to the Kitchen. Time to cook up some dank memes...</h1>

<%= form_for(@post, html: {multipart: true}) do |f| %>

  <%= render 'shared/error_messages', object: f.object%>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.label :picture, "Upload a picture", accept: 'image/jpeg,image/gif,image/png' %>
  <%= f.file_field :picture %><br>

  <%= f.submit "Submit your post" %>

<% end %>


<%= link_to "Home", home_path %>
