<% provide(:title, "Kitchen") %>
<% provide(:subtitle, "Can you handle the heat?") %>
<%= render :partial => 'layouts/sidebar' %>


<!-- Script code for preview generation. Credit: https://www.spencerdixon.com/blog/image-preview-with-carrierwave-and-rails.html -->
<script>
$(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#imagePreview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#memePicture").change(function(){
    $('#imagePreview').removeClass('hidden');
    readURL(this);
  });
});
</script>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      <h1 class="kitchenTitle">Welcome to the Kitchen</h1>

      <div class="kitchenBlock">

        <h3>Time to cook up some dank memes...</h3>

        <%= form_for(@post) do |f| %>

          <%= render 'shared/error_messages', object: f.object%>

          <%= f.label :title, "Name of your Dish" %>
          <%= f.text_field :title, class: "form-control" %><br>

          <img id="imagePreview" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>

          <%= f.label :picture, "Throw that meme on the pan!", accept: 'image/jpeg,image/gif,image/png' %>
          <%= f.file_field :picture, id: "memePicture" %><br>

          <%= f.label :description, "How about a spicy caption?:" %>
          <%= f.text_area :description, class: "form-control" %><br>

          <%= f.submit "Send out this Meme", class:"btn btn-lg btn-danger", style: "float: right; font-weight: bold;", data: {disable_with: "Loading...".html_safe}  %>

        <% end %>


        <%= link_to "Home", home_path %>

      </div>
    </div>
  </div>
</div>
