<!-- Main course page is the front page where all of the best posts will be featured. This is solely determined by
an admin user, but in time I hope to automate the process of adding posts to the main course feed
according to likes and popularity -->
<%= provide(:background_image, "mainCourseBackground") %>
<% provide(:title, "Main Course") %>
<% provide(:subtitle, "Top rated memes") %>


<% if session[:comment_blank_error] == true %>

  <script>BootstrapDialog.show({
            title: 'Oops!',
            message: 'Your comment cannot be blank!'
        });</script>

        <% session[:comment_blank_error] = false %>

<% end %>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-offset-1 col-md-8">

      <div class="postHeading">
        <%= link_to(@poster, class: "linkToPosterProfile") do %>
          <!--Post media object is just the timestamp, poster, and picture as a group. -->
          <div class="posterMediaObject">
            <div class="posterPicture">
              <%= image_tag @poster.picture.url, class: "img-circle" %>
            </div>

            <h3 class="headingTitle">
                <span class="postOwner"><%= @poster.name %></span><br>
                <small class="postTitle">Dish Name: <%= @current_post.title %></small><br>
                <p class="postTime">Posted <%= time_ago_in_words(@current_post.created_at) %> ago</p>
            </h3>

          </div>
        <% end %>

        <!--Dislike button-->
        <%= link_to({:controller => "main_courses", :action => "handle_dislike"},
          remote: true, class: "btn btn-danger btn-lg postDislikeButton", method: "post") do %>

          <!-- If the current user has already liked this post, then show a different button state-->
          <% if @current_post.disliked_by(current_user) %>
            <p class="dislikeButtonText">Disliked</p><p class="postDislikes"><%= @current_post.dislikes %></p>
          <% else %>
            <p class="dislikeButtonText">Dislike</p><p class="postDislikes"><%= @current_post.dislikes %></p>
          <% end %>

        <% end %>


          <!--Like button-->
          <%= link_to({:controller => "main_courses", :action => "handle_like"},
            remote: true, class: "btn btn-success btn-lg postLikeButton", method: "post") do %>

            <% if @current_post.liked_by(current_user) %>
              <p class="likeButtonText">Liked</p><p class="postLikes"><%= @current_post.likes %></p>
            <% else %>
              <p class="likeButtonText">Like</p><p class="postLikes"><%= @current_post.likes %></p>
            <% end %>

          <% end %>

      </div>

      <div class="mainPostImage">
        <%= image_tag((@all_posts[session[:currentIndex]]).picture.url) %>
      </div>

      <%= link_to({:controller => "main_courses", :action => "handle_next"},
          remote: true, class: "btn btn-default btn-lg buffetNextButton", method: "post") do %>
            <b class="glyphicon glyphicon-chevron-right"></b>
      <% end %>

      <%= link_to({:controller => "main_courses", :action => "handle_prev"},
          remote: true, class: "btn btn-default btn-lg buffetPrevButton", method: "post") do %>
            <b class="glyphicon glyphicon-chevron-left"></b>
      <% end %>

      <div class="postCaption">
        <% unless @current_post.description.empty? %>
          <h2><%= @current_post.description %></h2>
        <% end %>
      </div>

    </div>

    <!--comment section -->
    <div class="col-md-2">

        <div class="commentHeader">
          <h2>Customer Reviews</h2>

            <% if logged_in? %>
              <%= form_for(@comment, remote: true) do |f| %>

                <%= f.text_area :comment, placeholder: "Write a comment", class: "commentTextArea", maxlength: 255 %>

                <%= f.submit "Post Review", style: "float: right;" %>

              <% end %>
            <% end %>
        </div>

        <div class="commentBlock">
            <ul class="list-unstyled">
              <div class="postComments">
                  <%= render(:partial => 'comments/comments') %>
              </div>
            </ul>

        </div>



    </div><!-- comment section -->
  </div>
</div>
