<header class="navbar navbar-inverse">
  <div class="container">


      <%= link_to "Frizzleskillet.com", home_path, id:"logo" %>

      <!--<h6><%= link_to "Profile", current_user %></h6>-->

      <!--<p>Now Serving: Breakfast</p>-->

      <nav style="padding-left: 80px;">
        <ul class="nav navbar-nav navbar-right">

          <!--<li><%= link_to "Main Course", home_path %></li>
          <li><%= link_to "Buffet", buffet_path %></li>
          <li><%= link_to "Personal Chefs", "#" %></li>-->

          <% if logged_in? %>

            <li class="dropdown" id="myButtonMenu">
              <button class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown">
                <b class="glyphicon glyphicon-menu-hamburger"></b></button>
                <ul class="dropdown-menu">
                    <!--<li><%= current_user.name %> is logged in</li>-->
                    <li><%= link_to "Kitchen", kitchen_path, class: "btn btn-default btn-lg" %></li>
                    <li><%= link_to "Profile", current_user, class: "btn btn-default btn-lg" %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Logout", logout_path, method: :delete, class: "btn btn-default btn-lg" %></li>
                </ul>
            </li>




          <% else %>

            <li><%= link_to "Sign up", new_user_path %></li>
            <li><%= link_to "Log in", login_path %></li>


          <% end %>

        </ul>
      </nav>

  </div>
</header>
