<!DOCTYPE html>
<html>
  <head>
    <title>Frizzleskillet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->

  <%= favicon_link_tag("favicon.ico") %>

  </head>

  <body class="<%= yield(:background_image)%>" >

    <!-- Allow flash messages to appear on any page -->
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>" data-dismiss="alert"   style="font-weight: bold; position: absolute; right: 0px; width: 100%; z-index: 1001;">
          <%= message %>
        <a href="#" class="close" style="float:right;">&times;</a>
      </div>
    <% end %>

    <%= render 'layouts/sidebar' %>
    <%= yield %>

  </body>
</html>
